body { 
  margin: 0; 
  overflow: hidden; 
  background-color: #fff;
}

canvas { 
  width: 100%; 
  height: 100%;
}

video { 
  position: fixed; 
  z-index: -1; 
}

.fullScreen {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.cover {
  background: black;
}

.header {
  color: #fff;
  font-weight: 500;
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  line-height: 50px;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 60px;
}

.abs-center {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  text-align: center;
}

.disable-dbl-tap-zoom, body, html {
  touch-action: manipulation;
}

.controls {
  transition: opacity 0.5s;
  opacity: 1;
}

.hide {
  opacity: 0;
}

.disabled {
  user-select: none;
  pointer-events: none;
}
/* Controllers */
.flipBtn {
  position: absolute;
  bottom: 0;
  height: 10%;
  width: 100%;
  background-image: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0));
}

.flip {
  position: absolute;
  left: 50%;
  bottom: 0;
  padding: 24px;
  width: 10%;
  transform: translate(-50%, 0%);
}

.tab {
  height: 100%;
  background-image: linear-gradient(to right, rgba(255,255,255,0.5), rgba(255,255,255,0));
  width: 33%;
  transition: opacity 0.5s;
}

.right {
  position: fixed;
  top: 0;
  right: 0;
  background-image: linear-gradient(to left, rgba(255,255,255,0.5), rgba(255,255,255,0));
}

.mobile-only {
  display: none;
}

@media (pointer:none), (pointer:coarse) {
  .mobile-only {
    display: initial;
  }
}

@media (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

/* Animations */
.disappear {
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
  opacity: 0 !important;
}

.noDisplay {
  display: none;
}